.chat {
    width: 100%;
}

.chat-content {
    grid-column: 1/3;
    grid-row: 2;
}

.chat-date {
    grid-column: 3;
    grid-row: 2;
}

.chat-history {
    padding: 0 1rem 1rem 1rem;
}

.chat-item {
    margin: 0;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.chat-message {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding-bottom: .5rem;
}

.chat-user {
    font-size: .85rem;
    font-weight: 600;
    grid-column: 1/4;
    grid-row: 1;
}

.input-form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 90% 10%;
    padding: 0 1rem 1rem 1rem;
}

.message-input {
    padding: .5rem .25rem;
}

.message-input-wrapper {
    width: 100%;
}

.page-header {
    margin: 1rem 0;
}

.page-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    width: 100%;
}

