.chat-item {
    margin: 0;
    white-space: pre-line;
}

.chat-message {
    display: flex;
    justify-content: space-between;

}

.message-input {
    min-width: 45rem;
    padding: .5rem .25rem;
    resize: none;
    width: 90%
}

.message-input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    min-width: 51rem;
    width: 100%;
}

.page-header {
    margin: 1rem 0;
}

.page-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.send-button {
    min-width: 4rem;
}
