<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="/assets/htmx.js"></script>
    <script src="/assets/htmx-ws-ext.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" />
    <title>Go/HTMX Chat page</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body>
    <header>
        <h1 class="page-header">Go/HTMX Chat Page</h1>
    </header>
    <main class="page-wrapper">
        <div id="loading" hx-get="/messages" hx-trigger="load" hx-swap="outerHTML"></div>
    </main>
</body>

</html>
